* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
  min-height: 100vh;
}


header {
  text-align: center;
  padding: 40px 20px;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

header p {
  opacity: 0.8;
}
header li {
  opacity: 0.8;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1100px;
  margin: auto;
}

.galeria img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  transition: transform 0.3s, box-shadow 0.3s;
}

.galeria img:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 35px rgba(0,0,0,0.6);
}

footer {
  text-align: center;
  padding: 20px;
  opacity: 0.7;
  font-size: 14px;
}
/* ===== MOBILE =====*/
@media (max-width: 768px) {

  header {
    padding: 25px 15px;
  }

  header h1 {
    font-size: 2rem;
  }

  header p {
    font-size: 1rem;
  }
  header li {
    font-size: 1rem;
  }

  .galeria {
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 15px;
  }

  .galeria img {
    border-radius: 12px;
  }

  footer {
    font-size: 12px;
    padding: 15px;
  }
}
